Library/
Temp/
Obj/
obj/
Build/
Builds/
Logs/
UserSettings/
.vs/
.idea/
*.csproj
*.sln

PythonBackend/cache/
PythonBackend/outputs/
PythonBackend/**/__pycache__/
PythonBackend/**/*.pyc
PythonBackend/.venv/
PythonBackend/venv/
PythonBackend/External/
